<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>eat_healthy</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="style.css" type="text/css" media="screen">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<script src="js/jquery1.7.2.min.js"></script>
<script src="js/script.js"></script>
</head>

<%= render "shared/header" %>
<body>


  
<div id="wrapper">
  
  <!-- メイン画像 -->
	<div id="mainBanner">
		 <%= image_tag "mainImg.jpg" %>
    <div class="slogan">
			<h2>自然との調和を目指す企業です</h2>
			<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。<br>革新的な技術で世の中を動かす企業を目指します。</p>
		</div>
	</div>
	<!-- / メイン画像 -->

  <!-- 3カラム -->
  <section class="gridWrapper">
		<article class="grid">
      <div class="box">
				<!--<img src="images/top_m1.png" width="75" height="75" alt="" class="alignleft">-->
				<%= image_tag "top_m1.png", class:"alignleft" %>
				<h3>自然との調和を目指す企業です</h3>
				<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
				<p class="readmore"><a href="subpage.html">詳細を確認する</a></p>
      </div>
		</article>
		<article class="grid">
			<div class="box">
      	<!--<img src="images/top_m2.png" width="75" height="75" alt="" class="alignleft">-->
				<%= image_tag "top_m2.png", class:"alignleft" %>
				<h3>自然との調和を目指す企業です</h3>
				<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
				<p class="readmore"><a href="subpage.html">詳細を確認する</a></p>
      </div>
		</article>
    <article class="grid">
    	<div class="box">
				<!--<img src="images/top_m3.png" width="75" height="75" alt="" class="alignleft">-->
				<%= image_tag "top_m3.png", class:"alignleft" %>
				<h3>自然との調和を目指す企業です</h3>
				<p>ホームページサンプル株式会社では最新技術と自然との調和を目指します。革新的な技術で世の中を動かす企業を目指します。</p>
				<p class="readmore"><a href="subpage.html">詳細を確認する</a></p>
			</div>
    </article>
	</section>
	<!-- / 3カラム -->
  
</div>
 
<!-- フッター -->
<%= render "shared/footer" %>
</body>
</html>