<%= render "shared/header" %>

<body>
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%# 以下の1行を編集 %>
<%= bar_chart @nutrient_sum %>
<%= link_to 'New Product', new_nutrient_path %>

</body>

<%= render "shared/footer" %>