<header id="header">
	<h1>健康第一！</h1>
  <!-- ロゴ -->
	<div class="logo">
		<a href="index.html">Company Name<br /><span>Your Company Slogan</span></a>
	</div>
	<!-- / ロゴ -->
	<!-- 電話番号+受付時間 -->
	
  <div class="info">
		<p class="tel"><span>電話:</span> 012-3456-7890</p>
		<p class="open">受付時間: 平日 AM 10:00 〜 PM 5:00</p>
	</div>
	<!-- / 電話番号+受付時間 -->
</header>

<!-- メインナビゲーション -->
<nav id="mainNav">
	<div class="inner">
  	<a class="menu" id="menu"><span>MENU</span></a>
		<div class="panel">   
    	<ul>
    		<li class="active"><a href="index.html"><strong>トップページ</strong><span>Top</span></a></li>
        <li><%= link_to '食材登録', new_nutrient_path %></li>
				<li><a href="subpage.html"><strong>サービス概要</strong><span>Service</span></a></li>
				<li><a href="subpage.html"><strong>弊社の取り組み</strong><span>Approach</span></a></li>
        <% if user_signed_in?%>
          <li><%= link_to 'ログアウト', user_registration_path, method: :delete %></li>
          <li class="last"><%= link_to "#{current_user.name} さん", '#' %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
	  			<li class="last"><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>
      </ul>   
    </div>
	</div> 
</nav>
<!-- / メインナビゲーション -->
